
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;


    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }

    .anterior {
      gap: 8px;

      flex-grow: 0.20;
      background-color: #d6e4ffc8;
      }
    .soimg {
 
        gap: 10px;
        flex-grow: 1;
        
    }

    
    .comconteudo {
        flex-grow: 0.50;
        background-color:#6d778c;
        padding: 0 20px;

        img{
            gap: 10px;

        }

        h2 {
            font-size: 20px;
            font-weight: bold;
            
        }

        .botoes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;
            cursor: pointer;

            .ou {
                display: flex;
                font-size: 14px;
                color:#124abc;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                gap: 10px;
                text-transform: uppercase;
                width: 100%;

                div {
                    flex-grow: 1;
                    height: 2px;
                    background-color: #124abc;
                }
            }

            button {
                width: 100%;
                border-radius: 10px;
                font-size: 15px;
                font-weight: 500;
                border: none;
                background: transparent ;
                padding: 12px 24px;
                cursor: pointer;

                &.btn1 {
                    background-color: #124abc;
                    color: white;

                }

                &.btn2 {
                    border: 1px solid #091A7A;
                    color: #091A7A;
                }
            }
        }

    }
    h1 {
        font-size: 50px;
        font-weight: bold;
        
    }

}

 
