<section id="sobre-nos">
  <div class="container">

    <h2>Sobre Nós</h2>
    <br>
    <img class="img-logo" src="https://uploaddeimagens.com.br/images/004/799/852/thumb/loguinho_1_.jpg?1718634964" alt="logo">
    <br>
    <br>

    <p>Bem-vindo à Mantano, onde a inovação encontra a excelência. Somos uma equipe dedicada a juntar a comunidade tecnologica.</p>

    <br>

    <h3>Nossa História</h3>
    <p>A Mantano foi fundada em 2024 com a missão de juntar a comunidade tecnologica. Desde então, temos trabalhado incansavelmente para conseguir atingir nossos objetivos.</p>

    <br>

    <h3>Nossos Valores</h3>
    <ul>
      <li>Inovação: Sempre buscando novas maneiras de conectar pessoas.</li>
      <li>Compromisso: Comprometidos com a qualidade e a satisfação do cliente.</li>
      <li>Integridade: Operando com honestidade e transparência.</li>
    </ul>

    <br>

    <h3>Nossa Equipe</h3>
    <div class="team">
      <div class="team-member">
        <img src="https://uploaddeimagens.com.br/images/004/799/861/thumb/euuu.jpg?1718636011" alt="Nome do Membro">
        <h4>Vinicius Coelho Gama</h4>
        <p>Função: Desenvolvedor Fullstack</p>
      </div>
      <div class="team-member">
        <img src="https://uploaddeimagens.com.br/images/004/799/857/thumb/Karla.jpg?1718635394" alt="Nome do Membro">
        <h4>Karla Faustino</h4>
        <p>Função: Desenvolvimento Frontend</p>
      </div>
      <div class="team-member">
        <img src="https://i.ibb.co/xJdHKr7/roberta.jpg" alt="Nome do Membro">
        <h4>Roberta Rodrigues</h4>
        <p>Função: Documentação e Apresentação</p>
      </div>
      <div class="team-member">
        <img src="https://i.ibb.co/GPNMxVm/davi.jpg" alt="Nome do Membro">
        <h4>Davi R. Jesus</h4>
        <p>Função: Desenvolvimento Frontend</p>
      </div>
    </div>

