.container {
  max-width: 600px; /* Reduzindo a largura máxima */
  margin: auto; /* Centralizando horizontalmente */
  padding: 20px; /* Adicionando espaço interno */
  text-align: center; /* Centralizando o conteúdo */
}

.form-group {
  margin-bottom: 15px; /* Espaçamento entre os elementos do formulário */
  text-align: left; /* Alinhando o texto dos labels à esquerda */
}

textarea {
  height: 150px; /* Ajustando a altura do textarea */
}

button {
  margin-top: 30px; /* Espaçamento superior do botão */
  margin-bottom: 20px; /* Espaçamento inferior do botão */
}

h1 {
  text-align: center; /* Centralizando o título */
  margin-top: 50px; /* Espaçamento superior do título */
  margin-bottom: 30px; /* Espaçamento inferior do título */
}

.margin-solid {
  border: 2px solid #5c5c5c;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(49, 48, 48, 0.1);
  transition: border-color 0.2s;
}

.margin-solid:focus {
  border-color: #003366; /* Cor do borda ao focar */
}
