
.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-md-4 {
  flex: 1;
  max-width: 300px;
}

.col-md-8 {
  flex: 2;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  border-bottom: 1px solid #f1f1f1;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

input, textarea {
  border: 2px solid #5c5c5c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(49, 48, 48, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

textarea {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
  margin-top: 20px;
  margin-bottom: 60px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 9999px;
  transition: background-color 0.2s, border-color 0.2s;
  background-color: rgb(92, 122, 148);
  width: 150px;

}

button:hover {
  background-color: #7f89aa;
}

h1 {
  text-align: center;
}


.sticky-section {
  position: sticky;
  top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}
